* {
  text-overflow: ellipsis;
  -webkit-user-drag: none;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  color: #8c9597;
  background-color: #030821; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

.container .header {
  position: relative;
  overflow: none;
  background: url(../img/front-page-header.png) no-repeat, #030821;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  box-sizing: border-box; }
  .container .header .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row; }
  .container .header-top {
    margin-top: 15px;
    height: 75px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    padding: 20px 0; }
    .container .header-top-logo {
      flex: 1; }
    .container .header-top-nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      flex: 2; }
      .container .header-top-nav .links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        width: 100%; }
        .container .header-top-nav .links a {
          text-decoration: none;
          margin: 0 20px;
          color: #fff;
          font-size: 16px;
          line-height: 26px;
          transition: 0.5s;
          font-weight: 700;
          position: relative; }
          .container .header-top-nav .links a:hover {
            font-size: 1.1em; }
            .container .header-top-nav .links a:hover::after {
              position: absolute;
              bottom: 0;
              left: 50%;
              animation: hover 0.5s;
              content: " ";
              height: 1px;
              width: 50%;
              background-color: #ddd; }
            .container .header-top-nav .links a:hover::before {
              position: absolute;
              bottom: 0;
              right: 50%;
              animation: hover 0.5s;
              content: " ";
              height: 1px;
              width: 50%;
              background-color: #ddd; }
        @media (max-width: 800px) {
          .container .header-top-nav .links {
            display: none; } }
      @media (max-width: 800px) {
        .container .header-top-nav .drop {
          display: block;
          overflow: hidden;
          width: 100%;
          padding: 15px 10px;
          background-color: #030821;
          text-align: center;
          position: absolute;
          right: 0;
          top: 100px;
          z-index: 100;
          transition: 1s;
          animation-name: hover;
          animation-duration: 1s; }
          .container .header-top-nav .drop a {
            display: block; } }
      .container .header-top-nav .threeLines {
        display: none;
        cursor: pointer; }
        @media (max-width: 800px) {
          .container .header-top-nav .threeLines {
            display: block;
            background: url(../img/menu.png) no-repeat center;
            background-size: contain;
            height: 50px;
            width: 50px;
            box-sizing: border-box; } }
  .container .header-bottom {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px;
    text-align: center;
    width: 90%;
    color: #eee;
    font-size: 18px; }
    @media (max-width: 1000px) {
      .container .header-bottom {
        font-size: 14px; } }
    @media (max-width: 800px) {
      .container .header-bottom {
        font-size: 12px; } }
    .container .header-bottom h1 {
      margin: 0 0 29px 0;
      font-size: 4.4em;
      line-height: 84px;
      font-weight: 700;
      font-family: "Poppins", sans-serif; }
      @media (max-width: 550px) {
        .container .header-bottom h1 {
          font-size: 3.5em; } }
    .container .header-bottom .keys {
      text-transform: uppercase;
      font-size: 1.1em; }
      @media (max-width: 550px) {
        .container .header-bottom .keys {
          font-size: 1em; } }
    .container .header-bottom p {
      font-size: 1em;
      height: auto;
      width: 60%;
      box-sizing: border-box;
      max-width: 700px;
      text-align: inherit;
      margin: auto;
      line-height: 26px;
      margin-bottom: 30px; }
    .container .header-bottom a {
      text-decoration: none;
      width: auto;
      height: 60px;
      line-height: 60px;
      letter-spacing: 2px;
      background: #ddd;
      color: #333;
      margin: 0 15px;
      padding: 0 50px;
      display: inline-block;
      border-radius: 3px;
      font-weight: 700;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      min-width: 242px; }
      .container .header-bottom a:hover {
        color: #eee;
        background-color: #6a4d8a; }
      .container .header-bottom a:active {
        background-color: #9d83ba; }
      @media (max-width: 800px) {
        .container .header-bottom a {
          padding: 0 30px; } }
      @media (max-width: 550px) {
        .container .header-bottom a {
          padding: 0 15px; } }
.container a.scroll[href="#hhh"] {
  position: fixed;
  bottom: 25px;
  right: 40px;
  display: none;
  opacity: 0;
  z-index: 50; }
  .container a.scroll[href="#hhh"] .topBtn {
    display: inline-block;
    height: 45px;
    width: 45px;
    box-sizing: border-box;
    border-radius: 50%;
    background: url(../img/up.png) no-repeat center;
    background-size: contain; }
.container h3 {
  margin: 0 0 55px 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  text-align: center; }
.container .cover {
  background: linear-gradient(#030821, #39496f); }
.container .about {
  opacity: 0;
  transition: 1s;
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  padding: 65px 0 85px 0;
  text-align: center; }
  .container .about p {
    color: #fff;
    height: auto;
    width: 60%;
    box-sizing: border-box;
    margin: auto;
    line-height: 26px; }
    @media (max-width: 800px) {
      .container .about p {
        width: 90%; } }
  .container .about .skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    width: 50%;
    box-sizing: border-box;
    margin: auto;
    margin-top: 100px; }
    @media (max-width: 520px) {
      .container .about .skills {
        margin-top: 50px; } }
    .container .about .skills .circlechart {
      width: 60%; }
    .container .about .skills .success-stroke {
      stroke: #fff; }
    .container .about .skills .circle-chart__background {
      stroke: #2b1f3a; }
    .container .about .skills .circle-chart__percent,
    .container .about .skills .circle-chart__subline {
      fill: #eee; }
.container .projects {
  opacity: 0;
  transition: 1s;
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 65px 0; }
  .container .projects .work {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .container .projects .work .one {
      cursor: pointer;
      position: relative;
      background: url("../img/one.webp") no-repeat center;
      background-size: cover;
      height: 100%;
      width: 100%;
      -webkit-transition: background-image 0.5s ease-in-out;
      transition: background-image 0.5s ease-in-out; }
      .container .projects .work .one:hover {
        background: linear-gradient(rgba(255, 255, 255, 0), black), url("../img/one.webp") no-repeat center;
        background-size: cover, cover; }
      .container .projects .work .one span {
        display: none;
        color: #fff;
        font-size: 1.3em;
        z-index: 10; }
      .container .projects .work .one p {
        display: none;
        color: #dcdfe0;
        z-index: 10; }
      .container .projects .work .one:hover > p {
        display: inline-block; }
      .container .projects .work .one:hover > span {
        display: inline-block;
        margin-top: 50%; }
        .container .projects .work .one:hover > span::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          animation: hover 0.5s;
          content: " ";
          height: 1px;
          width: 50%;
          background-color: #ddd; }
        .container .projects .work .one:hover > span::before {
          position: absolute;
          bottom: 0;
          right: 50%;
          animation: hover 0.5s;
          content: " ";
          height: 1px;
          width: 50%;
          background-color: #ddd; }
    .container .projects .work .two {
      cursor: pointer;
      position: relative;
      background: url("../img/two.webp") no-repeat center;
      background-size: cover;
      height: 100%;
      width: 100%;
      -webkit-transition: background-image 0.5s ease-in-out;
      transition: background-image 0.5s ease-in-out; }
      .container .projects .work .two:hover {
        background: linear-gradient(rgba(255, 255, 255, 0), black), url("../img/two.webp") no-repeat center;
        background-size: cover, cover; }
      .container .projects .work .two span {
        display: none;
        color: #fff;
        font-size: 1.3em;
        z-index: 10; }
      .container .projects .work .two p {
        display: none;
        color: #dcdfe0;
        z-index: 10; }
      .container .projects .work .two:hover > p {
        display: inline-block; }
      .container .projects .work .two:hover > span {
        display: inline-block;
        margin-top: 50%; }
        .container .projects .work .two:hover > span::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          animation: hover 0.5s;
          content: " ";
          height: 1px;
          width: 50%;
          background-color: #ddd; }
        .container .projects .work .two:hover > span::before {
          position: absolute;
          bottom: 0;
          right: 50%;
          animation: hover 0.5s;
          content: " ";
          height: 1px;
          width: 50%;
          background-color: #ddd; }
    .container .projects .work .three {
      cursor: pointer;
      position: relative;
      background: url("../img/three.webp") no-repeat center;
      background-size: cover;
      height: 100%;
      width: 100%;
      -webkit-transition: background-image 0.5s ease-in-out;
      transition: background-image 0.5s ease-in-out; }
      .container .projects .work .three:hover {
        background: linear-gradient(rgba(255, 255, 255, 0), black), url("../img/three.webp") no-repeat center;
        background-size: cover, cover; }
      .container .projects .work .three span {
        display: none;
        color: #fff;
        font-size: 1.3em;
        z-index: 10; }
      .container .projects .work .three p {
        display: none;
        color: #dcdfe0;
        z-index: 10; }
      .container .projects .work .three:hover > p {
        display: inline-block; }
      .container .projects .work .three:hover > span {
        display: inline-block;
        margin-top: 50%; }
        .container .projects .work .three:hover > span::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          animation: hover 0.5s;
          content: " ";
          height: 1px;
          width: 50%;
          background-color: #ddd; }
        .container .projects .work .three:hover > span::before {
          position: absolute;
          bottom: 0;
          right: 50%;
          animation: hover 0.5s;
          content: " ";
          height: 1px;
          width: 50%;
          background-color: #ddd; }
    .container .projects .work .four {
      cursor: pointer;
      position: relative;
      background: url("../img/four.png") no-repeat center;
      background-size: cover;
      height: 100%;
      width: 100%;
      -webkit-transition: background-image 0.5s ease-in-out;
      transition: background-image 0.5s ease-in-out; }
      .container .projects .work .four:hover {
        background: linear-gradient(rgba(255, 255, 255, 0), black), url("../img/four.png") no-repeat center;
        background-size: cover, cover; }
      .container .projects .work .four span {
        display: none;
        color: #fff;
        font-size: 1.3em;
        z-index: 10; }
      .container .projects .work .four p {
        display: none;
        color: #dcdfe0;
        z-index: 10; }
      .container .projects .work .four:hover > p {
        display: inline-block; }
      .container .projects .work .four:hover > span {
        display: inline-block;
        margin-top: 50%; }
        .container .projects .work .four:hover > span::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          animation: hover 0.5s;
          content: " ";
          height: 1px;
          width: 50%;
          background-color: #ddd; }
        .container .projects .work .four:hover > span::before {
          position: absolute;
          bottom: 0;
          right: 50%;
          animation: hover 0.5s;
          content: " ";
          height: 1px;
          width: 50%;
          background-color: #ddd; }
      @media (max-width: 800px) {
        .container .projects .work .four {
          display: none; } }
  .container .projects .work > :not(:last-child) {
    border-right: 3px solid #424748; }
.container .services {
  text-align: center;
  opacity: 0;
  transition: 1s;
  height: 475px;
  width: 100%;
  box-sizing: border-box; }
.container .contact {
  color: #c2c6c7;
  opacity: 0;
  transition: 1s;
  height: 560px;
  width: 100%;
  box-sizing: border-box; }
  .container .contact > h3 {
    margin-bottom: 35px; }
  .container .contact > p {
    text-align: center;
    margin: auto; }
    @media (max-width: 800px) {
      .container .contact > p {
        width: 90%; } }
  .container .contact > form {
    width: 80%;
    margin: auto;
    margin-top: 60px;
    line-height: 1.5em; }
    .container .contact > form > .btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row; }
      @media (max-width: 800px) {
        .container .contact > form > .btn a {
          width: 100%; } }
      .container .contact > form > .btn a:hover {
        color: #eee;
        background-color: #6a4d8a; }
      .container .contact > form > .btn a:active {
        background-color: #8362a8; }
    .container .contact > form label {
      display: block;
      width: 30%; }
      .container .contact > form label input {
        width: 100%;
        height: 35px; }
      @media (max-width: 800px) {
        .container .contact > form label {
          width: 100%; } }
    .container .contact > form .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row; }
      @media (max-width: 800px) {
        .container .contact > form .top {
          display: block; } }
    .container .contact > form textarea {
      width: 100%;
      resize: none; }
  @media (max-width: 800px) {
    .container .contact {
      height: 700px; } }
.container .footer {
  z-index: 50;
  padding: 0 5%;
  text-align: center;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #030821; }
  .container .footer .Facebook {
    background: url("../img/Facebook.png") no-repeat center;
    background-size: contain;
    transition: 0.3s; }
    .container .footer .Facebook:hover::after {
      padding: 2px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      content: "Facebook";
      width: 80px;
      position: absolute;
      top: -25px;
      left: -20px;
      font-size: 14px; }
  .container .footer .Github {
    background: url("../img/Github.png") no-repeat center;
    background-size: contain;
    transition: 0.3s; }
    .container .footer .Github:hover::after {
      padding: 2px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      content: "Github";
      width: 80px;
      position: absolute;
      top: -25px;
      left: -20px;
      font-size: 14px; }
  .container .footer .LinkedIn {
    background: url("../img/LinkedIn.png") no-repeat center;
    background-size: contain;
    transition: 0.3s; }
    .container .footer .LinkedIn:hover::after {
      padding: 2px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      content: "LinkedIn";
      width: 80px;
      position: absolute;
      top: -25px;
      left: -20px;
      font-size: 14px; }
  .container .footer .Mail {
    background: url("../img/Mail.png") no-repeat center;
    background-size: contain;
    transition: 0.3s; }
    .container .footer .Mail:hover::after {
      padding: 2px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      content: "Mail";
      width: 80px;
      position: absolute;
      top: -25px;
      left: -20px;
      font-size: 14px; }
  .container .footer span {
    flex: 1.5;
    min-width: 415px;
    font-size: 14px; }
    @media (max-width: 510px) {
      .container .footer span .extra {
        display: none; } }
  .container .footer .socialContent {
    flex: 1;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row; }
    .container .footer .socialContent .social {
      position: relative;
      cursor: pointer;
      height: 40px;
      width: 40px;
      box-sizing: border-box; }

.f-form {
  min-width: 200px;
  padding: 5px 7px;
  border-radius: 3px;
  border: 1px solid #bbb;
  outline-color: rgba(0, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 1px 0 5px rgba(0, 0, 0, 0.18); }

.f-btn {
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  background: #ddd;
  color: #333;
  margin-top: 10px;
  padding: 0 30px;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  min-width: 200px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }

.f-btn:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 1px 0 5px rgba(0, 0, 0, 0.18); }

.f-btn:active {
  opacity: 0.6;
  box-shadow: none; }

.marg5 {
  margin-top: 10px; }

@keyframes appear {
  0% {
    opacity: 0;
    display: none; } }
@keyframes hover {
  0% {
    width: 0%; } }
@keyframes drop {
  0% {
    height: 0%; } }

/*# sourceMappingURL=main.css.map */
