@mixin dimensions($height, $width:100%) {
    height: $height;
    width: $width;
    box-sizing: border-box;
}

@mixin flex($justifyContent:space-between, $direction:row) {
    display: flex;
    align-items: center;
    justify-content: $justifyContent;
    flex-direction: $direction;
}

@mixin animOpac {
    opacity: 0;
    transition: 1s;
}

@mixin footerBG($temp) {
    .#{$temp} {
        background: url("../img/#{$temp}.png") no-repeat center;
        background-size: contain;
        transition: 0.3s;
        &:hover::after {
            padding: 2px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            content:"#{$temp}";
            width: 80px;
            position: absolute;
            top: -25px;
            left: -20px;
            font-size: 14px;
        }
    }
}