@import 'variables';
@import 'mixins';
*{
    overflow: none;
}
body {
    font-family: $baseFont;
    color: $baseColor;
    background-color: $baseBgColor;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    .header {
        position: relative;
        overflow: none;
        background: url(../img/front-page-header.png) no-repeat;
        background-attachment: fixed;
        background-position-y: 0%; // background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include dimensions(100vh);
        box-sizing: border-box;
        .content {
            @include flex(space-around);
        }
        &-top {
            margin-top: 15px;
            @include dimensions(75px);
            @include flex(center);
            width: 90%;
            padding: 20px 0;
            &-logo {
                flex: 1;
            }
            &-nav {
                flex: 2;
                .links {
                    @include flex(flex-end);
                    width: 100%;
                    a {
                        text-decoration: none;
                        margin: 0 20px;
                        color: #fff;
                        font-size: 16px;
                        line-height: 26px;
                        transition: 0.5s;
                        font-weight: 700;
                        position: relative;
                        &:hover {
                            font-size: 1.1em;
                            &::after {
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                animation: hover 0.5s;
                                content: " ";
                                height: 1px;
                                width: 50%;
                                background-color: #ddd;
                            }
                            &::before {
                                position: absolute;
                                bottom: 0;
                                right: 50%;
                                animation: hover 0.5s;
                                content: " ";
                                height: 1px;
                                width: 50%;
                                background-color: #ddd;
                            }
                        }
                    }
                    @media (max-width:800px) {
                        display: none;
                    }
                }
                .threeLines {
                    display: none;
                    @media (max-width: 800px) {
                        display: initial;
                    }
                }
            }
        }
        &-bottom {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 50px;
            text-align: center;
            width: 90%;
            color: #eee;
            font-size: 18px;
            @media (max-width: 1000px) {
                font-size: 14px;
            }
            @media (max-width:800px) {
                font-size: 12px;
            }
            h1 {
                margin: 0 0 29px 0;
                font-size: 4.4em;
                line-height: 84px;
                font-weight: 700;
                font-family: $headingFont;
                @media (max-width: 550px) {
                    font-size: 3.5em;
                }
            }
            .keys {
                text-transform: uppercase;
                font-size: 1.1em;
                @media (max-width: 550px) {
                    font-size: 1em;
                }
            }
            p {
                font-size: 1em;
                @include dimensions(auto, 60%);
                max-width: 700px;
                text-align: inherit;
                margin: auto;
                line-height: 26px;
                margin-bottom: 30px;
            }
            a {
                text-decoration: none;
                width: auto;
                height: 60px;
                line-height: 60px;
                letter-spacing: 2px;
                background: #ddd;
                color: #333;
                margin: 0 15px;
                padding: 0 50px;
                display: inline-block;
                border-radius: 3px;
                font-weight: 700;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                min-width: 242px;
                &:hover {
                    color: #eee;
                    background-color: #6a4d8a;
                }
                &:active {
                    background-color: lighten($color: #6a4d8a, $amount: 20%);
                }
                @media (max-width:800px) {
                    padding: 0 30px;
                }
                @media (max-width:550px) {
                    padding: 0 15px;
                }
            }
        }
    }
    a.scroll[href="#hhh"] {
        position: fixed;
        bottom: 40px;
        right: 40px;
        display: none;
        opacity: 0;
        z-index: 50;
        .topBtn {
            display: inline-block;
            @include dimensions(45px, 45px);
            border-radius: 50%;
            background: url(../img/up.png) no-repeat center;
            background-size: contain;
        }
    }
    h3 {
        margin: 0 0 55px 0;
        color: #fff;
        font-family: $headingFont;
        font-size: 35px;
        text-align: center;

    }
    .cover {
        background: linear-gradient(#030821, #39496f);
    }
    .about {
        @include animOpac;
        @include dimensions(600px);
        padding: 65px 0 85px 0;
        text-align: center;
        p {
            color: #fff;
            @include dimensions(auto, 60%);
            margin: auto;
            line-height: 26px;
        }
        .skills {
            @include flex();
            @include dimensions(auto, 50%);
            margin: auto;
            margin-top: 100px;
            @media (max-width: 520px) {
                margin-top: 50px;
            }
            .circlechart{
                width: 60%;
            }
            .success-stroke {
                stroke: #fff;
            }
            .circle-chart__background {
                stroke: #2b1f3a;
            }
            .circle-chart__percent,
            .circle-chart__subline {
                fill: #eee;
            }
        }
    }
    .projects {
        @include animOpac;
        @include dimensions(530px);
        text-align: center;
        padding-top: 65px;
    }
    .services {
        text-align: center;
        @include animOpac;
        @include dimensions(475px);
    }
    .contact {
        text-align: center;
        @include animOpac;
        @include dimensions(715px);
    }
    .footer {
        padding: 0 5%;
        text-align: center;
        @include dimensions(100px,100vw);
        @include flex(space-around);
        flex-wrap: wrap;
        background-color: #030821;
        @include footerBG(Facebook);
        @include footerBG(Github);
        @include footerBG(LinkedIn);
        @include footerBG(Mail);
        span {
            flex: 2;
            min-width: 415px;
            font-size: 14px;
            .extra{
                @media (max-width:510px) {
                    display: none;
                }
            }
        }
        .socialContent {
            flex: 1;
            padding: 0 5%;
            @include flex(space-around);
            .social {
                position: relative;
                cursor: pointer;
                @include dimensions(40px, 40px);
            }
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        display: none;
    }
}

@keyframes hover {
    0% {
        width: 0%;
    }
}